<!doctype html>
<meta charset="UTF-8">
<title>
    膨胀电影 - 搜索你想看的，看电影本该简单！
</title>
<meta name=viewport content="width=device-width,user-scalable=0">
<link rel=stylesheet href="../public/static/style.css">
<meta name=apple-mobile-web-app-capable content=yes>
<meta name=apple-mobile-web-app-status-bar-style content=black-translucent>
<link rel="shortcut icon " type="images/x-icon" href="public/favicon.ico">
<!--<meta name="referrer" content="never">-->
<body>
<!-- 顶部导航 -->
<div class="headerpage" id="headerpage">
    {{ block "headerpage" . }}{{ end }}
</div>
<!--顶部导航 over-->
<script>
    var api_url = "http://127.0.0.1:8080/api";
</script>
<script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.min.js" type="application/javascript"></script>
<script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/axios/0.26.0/axios.min.js" type="application/javascript"></script>
<!--中部主体-->
<div id="content">
    {{block "content" . }}{{end}}
</div>
<!--中部主体 over-->

<!--footer-->
<div class="footerpage">
    {{ block "footerpage" . }}{{ end }}
</div>
<!--footer over-->
</body>
</html>