{{ template "/templates/web/base.tmpl" . }}

{{ define "footerpage" }}
<div class="footer">
    <center><div id="qrcode" style="margin:0 auto;text-align: center;text-align: -webkit-center;"></div><p id="qrcode-text">扫码手机访问</p></center>
    <br>
    本站所有内容均来自互联网分享站点所提供的公开引用资源，未提供影视资源上传、存储服务。侵权联系：twothreewang@gmail.com<br>
    Copyright © 2023 膨胀电影
</div>
{{ end }}