{{ template "base.html" . }}

{{ define "content" }}
<div class="hero">
    <div class="logo">🐮 Moovie</div>
    <p class="slogan">搜全网，只为你想看的那一部</p>
    <p class="slogan">你的新葡京澳门威尼斯朋友来了</p>
    <form action="/search" class="search-box">
        <input type="text" placeholder="想看就搜，看你想看..." aria-label="搜索电影" name="kw">
        <button>搜索</button>
    </form>
    <div class="keywords-box dot-bg" id="hotkw">
        <a href="">热搜数据加载中...</a>
    </div>
</div>
<div class="title">
    <svg viewBox="0 0 24 24">
        <polygon points="5 4 15 12 5 20" />
    </svg>
    继续观看
</div>
<div id="load"><span class="cow-emoji" role="img" aria-label="Cow">🍿</span><p>播放记录空空的，去发现一部让你上头的电影吧～</p></div>
<div class="movies" id="history"></div>
<script>
    // 获取热门搜索
    async function loadHotKey() {
        const hotkw = document.getElementById("hotkw");
        try {
            const response = await sendRequest('GET', '/api/searchhistory');

            if (response.code !== 200) {
                throw new Error(`HTTP error! status: ${response.msg}`);
            }

            const kws = await response.data;
            var hotkw_html = '';
            for (let i = 0; i < kws.length; i++) {
                hotkw_html += `<a href="/search?kw=${kws[i]}">${kws[i]}</a>`
            }
            hotkw.innerHTML = hotkw_html;
        } catch (error) {
            console.error('加载网站数据失败:', error);
            showMsg('加载网站数据失败:' + error, "error")
            hotkw.innerHTML = `热门搜索关键词加载失败！`;
        }
    }

    function getHistory(){
        const history_div = document.getElementById("history");
        const all_history = Storage.getAll();
        console.log(all_history);
        history_html = "";
        for (let i = 0; i < all_history.length; i++) {
            var item = all_history[i];
            const percentage = Math.round((item['lastTime'] / item['duration']) * 100);
            var stroke_dashoffset = 251 - percentage * 2.51;

            history_html += `<a href="/play?source=${item['source']}&vid=${item['vid']}&play=${item['play']}&name=${item['title']}" class="movie-card">
        <div class="movie-poster">
            <img loading="lazy" src="${item['img']}" alt="${item['title']}" referrerPolicy="no-referrer">
        </div>
        <div class="movie-title">${item['title']}</div>
        <div class="movie-rating">
            <span title="资源来源">© ${item['source']}</span>
            <svg id="p" viewBox="0 0 100 100">
                <title>播放进度</title>
                <circle cx="50" cy="50" r="40" fill="none" stroke="#eee" stroke-width="5"></circle>
                <circle id="c" cx="50" cy="50" r="40" fill="none" stroke="#f60c3e" stroke-width="5" stroke-dasharray="251" stroke-dashoffset="${stroke_dashoffset}" transform="rotate(-90 50 50)"  stroke-linecap="round"></circle>
                <text id="t" x="50" y="60" text-anchor="middle" font-size="30" fill="#333">${percentage}%</text>
            </svg>
            <div class="delete-btn" onclick="delHistory('${item['id']}')">
                <title>标记完成，删除记录</title>
                <svg viewBox="0 0 24 24">
                    <circle cx="12" cy="12" r="10" />
                    <path d="M9 12l2 2 4-4" />
                </svg>
            </div>
        </div>
    </a>`
        }
        if(history_html!=""){
            document.getElementById("load").style.display = "none"
        }
        history_div.innerHTML = history_html;
    }
    function delHistory(id){
        event.stopPropagation();
        event.preventDefault();
        Storage.remove(id);
        getHistory();
        showMsg("已删除","success");
    }

    // 页面加载完成后执行
    document.addEventListener('DOMContentLoaded', function () {
        loadHotKey();
        getHistory();
    });
</script>
{{ end }}
