{{ template "base.html" . }}

{{ define "content" }}
<div class="main-body" id="app">
    <div class="index-header">
        <img src="static/img/logo.jpg" class="index-header-logo" />
        <div>
            <input type="text" placeholder="搜索你想看的，看电影本该简单..." data-listener-added_dad01146="true">
        </div>
    </div>
    <div class="index-hot">
        <p class="title">热门电影</p>
        <p v-html="message"></p>
        <hr class="hr-edge-weak">
        <div class="index-hot-item">
            <div class="movie">
                <img class="poster" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2892063382.jpg" alt="Movie Poster" referrerPolicy="no-referrer">
                <div class="movie-details">
                    <a class="movie-title" href="222" title="搜索《惊天营救》相关资源">惊天营救</a>
                    <div class="cast-list">
                        <img src="static/img/douban.png" class="douban-logo"/>
                        <span>7.5</span>
                        <br>
                        <br>
                        <span><a href="111" class="douban-link" target="_blank">去豆瓣 >>></a></span>
                    </div>
                </div>
            </div>
            <div class="movie">
                <img class="poster" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2892063382.jpg" alt="Movie Poster" referrerPolicy="no-referrer">
                <div class="movie-details">
                    <a class="movie-title" href="222" title="搜索《惊天营救》相关资源">惊天营救</a>
                    <div class="cast-list">
                        <img src="static/img/douban.png" class="douban-logo"/>
                        <span>7.5</span>
                        <br>
                        <br>
                        <span><a href="111" class="douban-link" target="_blank">去豆瓣 >>></a></span>
                    </div>
                </div>
            </div>
            <div class="movie">
                <img class="poster" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2892063382.jpg" alt="Movie Poster" referrerPolicy="no-referrer">
                <div class="movie-details">
                    <a class="movie-title" href="222" title="搜索《惊天营救》相关资源">惊天营救</a>
                    <div class="cast-list">
                        <img src="static/img/douban.png" class="douban-logo"/>
                        <span>7.5</span>
                        <br>
                        <br>
                        <span><a href="111" class="douban-link" target="_blank">去豆瓣 >>></a></span>
                    </div>
                </div>
            </div>
            <div class="movie">
                <img class="poster" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2892063382.jpg" alt="Movie Poster" referrerPolicy="no-referrer">
                <div class="movie-details">
                    <a class="movie-title" href="222" title="搜索《惊天营救》相关资源">惊天营救</a>
                    <div class="cast-list">
                        <img src="static/img/douban.png" class="douban-logo"/>
                        <span>7.5</span>
                        <br>
                        <br>
                        <span><a href="111" class="douban-link" target="_blank">去豆瓣 >>></a></span>
                    </div>
                </div>
            </div>
            <div class="movie">
                <img class="poster" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2892063382.jpg" alt="Movie Poster" referrerPolicy="no-referrer">
                <div class="movie-details">
                    <a class="movie-title" href="222" title="搜索《惊天营救》相关资源">惊天营救</a>
                    <div class="cast-list">
                        <img src="static/img/douban.png" class="douban-logo"/>
                        <span>7.5</span>
                        <br>
                        <br>
                        <span><a href="111" class="douban-link" target="_blank">去豆瓣 >>></a></span>
                    </div>
                </div>
            </div>
            <div class="movie">
                <img class="poster" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2892063382.jpg" alt="Movie Poster" referrerPolicy="no-referrer">
                <div class="movie-details">
                    <a class="movie-title" href="222" title="搜索《惊天营救》相关资源">惊天营救</a>
                    <div class="cast-list">
                        <img src="static/img/douban.png" class="douban-logo"/>
                        <span>7.5</span>
                        <br>
                        <br>
                        <span><a href="111" class="douban-link" target="_blank">去豆瓣 >>></a></span>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <p class="title">热门电视剧</p>
        <hr class="hr-edge-weak">
        <div class="index-hot-item">
            <div class="movie">
                <img class="poster" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2892063382.jpg" alt="Movie Poster" referrerPolicy="no-referrer">
                <div class="movie-details">
                    <a class="movie-title" href="222" title="搜索《惊天营救》相关资源">惊天营救</a>
                    <div class="cast-list">
                        <img src="static/img/douban.png" class="douban-logo"/>
                        <span>7.5</span>
                        <br>
                        <br>
                        <span><a href="111" class="douban-link" target="_blank">去豆瓣 >>></a></span>
                    </div>
                </div>
            </div>
            <div class="movie">
                <img class="poster" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2892063382.jpg" alt="Movie Poster" referrerPolicy="no-referrer">
                <div class="movie-details">
                    <a class="movie-title" href="222" title="搜索《惊天营救》相关资源">惊天营救</a>
                    <div class="cast-list">
                        <img src="static/img/douban.png" class="douban-logo"/>
                        <span>7.5</span>
                        <br>
                        <br>
                        <span><a href="111" class="douban-link" target="_blank">去豆瓣 >>></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 首页隐藏导航栏
    document.getElementById("headerpage").style.display="none";
    console.log(api_url);
    const { createApp } = Vue

    createApp({
        data() {
            return {
                message: 'Hello Vue!'
            }
        },
        mounted() {
            // 组件完成初始渲染并创建 DOM 节点后运行
            // 获取搜索历史
            axios.get(api_url+'/searchhistory').then(function (response){
                console.log(response);
            }).catch(function(error){
                console.log(error);
            });
        }
    }).mount('#app')
</script>
{{ end }}
