{{ template "base.tmpl" . }}

{{ define "content" }}
<div class="main-body" id="app">
    <div class="index-hot">
        <div class="conn-load" v-if="search_load" id="msg">正在获取视频详情...</div>
        <div class="play-box">
        <div class="notice">
            <span class="title">警告</span><span> 不要相信视频中的任何广告，谨防上当受骗，不要相信，不要相信，不要相信！</span>
        </div>
        <div class="play-item">
            <iframe id="play" width="100%" height="100%" :src="`https://wangtwothree.com/tools/dplayer/artplayer.php?url=${play}`" frameborder="0" border="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" security="restricted" sandbox="allow-same-origin allow-forms allow-scripts allow-top-navigation"></iframe>
        </div>
        </div>
        <div class="detail play">
            <div class="item">
                <p class="title"><a href="/detail?source={{.source}}&vid={{.vid}}">((movie.VodName))</a> <small>((play_name))在线播放</small></p>
                <a :href="`/play?source={{.source}}&vid={{.vid}}&play=${next_play}`" class="play_btn">下一集</a><p class="tag">((movie.Source))</p><p class="tag">((movie.TypeName))</p><p class="tag">((movie.VodTag))</p><p class="tag">((movie.VodArea))</p><p class="tag">((movie.VodLang))</p><p class="tag">((movie.VodYear))</p>
                <br><br>
                <p>又名：((movie.VodSub))</p>
                <p>导演：((movie.VodDirector))</p>
                <p>主演：((movie.VodActor))</p>
                <p>上映：((movie.VodPubdate))</p>
                <p>集数：((movie.VodRemarks))（<span v-if="`${movie.Isend} == 1`">已完结</span><span v-else>更新中</span>)</p>
                <p>豆瓣：<a :href="`https://movie.douban.com/subject/${movie.VodDoubanId}`" target="_blank">((movie.VodName))（((movie.VodDoubanScore))）</a></p>
                <p>更新：((movie.VodTime))</p>
                <p>剧情：((movie.VodContent))</p>
            </div>
        </div>
        <br><br>
        <div class="module-player-list">
            <p class="title">选集播放</p>
            <hr class="hr-edge-weak">
            <div class="sort-item auto-grid">
                <a v-for="(value, key) in play_link" :href="`/play?source={{.source}}&vid={{.vid}}&play=${value[1]}`" :class="classObject(`${value[1]}`)" :key="key">((value[0]))</a>
            </div>
        </div>
        <div class="index-hot">
            <p class="title">更多视频源</p>
            <hr class="hr-edge-weak">
            <div class="index-hot-item">
                <div class="movie" v-for="item in movies" id="more_video">
                    <img class="poster" :src="`${item.vod_pic}`" :alt="`${item.vod_name} Movie Poster`" referrerPolicy="no-referrer" onerror="this.onerror=null;this.src='../public/static/img/img_err.png';">
                    <div class="movie-details">
                        <a class="movie-title" :href="`/detail?source=${item.source}&vid=${item.vod_id}`" :title="`查看《${item.vod_name}》影片详情`">((item.vod_name))</a>
                        <div class="cast-list">
                        <span>
                            ((item.vod_area))｜((item.type_name))
                        </span>
                            <br>
                            <span>((item.vod_director))(导)</span>
                            <br>
                            <span>((item.source))（((item.vod_remarks))）</span>
                            <br>
                            <span>((item.vod_year))</span>
                            <br>
                            <span><a :href="`/play?source=${item.source}&vid=${item.vod_id}`" class="douban-link" target="_blank">播放 >>></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.title = "视频播放 - 膨胀电影";
    var items = myQueue.getItems();
    function get_link_dict(str){
        // 拆分视频链接
        var index = 0
        var next = 0
        for (var item_one of str.split('$$$')) {
            if (item_one.indexOf(".m3u8") != -1){
                // 先拆分每一集
                for(var item of item_one.split('#')) {
                    index += 1
                    var list_two = item.split('$') // 再拆分标题和链接
                    app.play_link.set(list_two[0],btoa(list_two[1]))
                    if(next==1){
                        app.next_play = btoa(list_two[1])
                        next=0
                    }
                    if(app.play==""&&index==1){
                        app.play = list_two[1]
                        app.play_name = list_two[0]
                        document.getElementById("play").src="https://wangtwothree.com/tools/dplayer/artplayer.php?url="+list_two[1];
                        next = 1
                    }else if(app.play==list_two[1]&&app.play_name==""){
                        app.play_name = list_two[0]
                        next = 1
                    }
                }
            }
        }
    }
    const { createApp } = Vue
    var app = createApp({
        delimiters: ['((', '))'], // 将标记符号修改为 (( 和 ))
        data() {
            return {
                movie : {},
                movies : {},
                search_load:true,
                play_link:new Map([]),
                next_play:"",
                down_link:{},
                play:atob({{.play}}),
                play_name:"",
            }
        },
        methods: {
            more_movie(vod_name) {
                // 搜索接口
                axios.get(api_url+'/search?kw='+vod_name)
                    .then(response => {
                        this.movies = response.data['data'];
                        if(this.movies == null){
                            document.getElementById("more_video").innerHTML="<center>暂时没有搜索到相关影片资源！</center>";
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            add_history(){
                for(var i = 0; i < items.length; i++){
                    if(items[i].indexOf("{{.source}}#{{.vid}}#") != -1){
                        items.splice(i, 1);
                    }
                }
                myQueue.push("{{.source}}#{{.vid}}#"+this.movie['VodName']+this.play_name+"#"+btoa(this.play));
            },
            get_history(){
                for(var i = 0; i < items.length; i++){
                    if(items[i].indexOf("{{.source}}#{{.vid}}#") != -1){
                        var item = items[i].split('#')
                        if(btoa(this.play)!==item[3]){
                            document.getElementById("msg").innerHTML='<span class="jump-play">继续播放《'+item[2]+'》 ？<a href="/play?source={{.source}}&vid={{.vid}}&play='+item[3]+'">去播放</a><a href="javascript:toggleShow()">忽略</a></span>';
                            this.search_load = true;
                        }
                    }
                }
            }
        },
        mounted() {
            // 获取影片详情接口
            axios.get(api_url+'/detail?source={{.source}}&id={{.vid}}')
                .then(response => {
                    this.movie = response.data['data'];
                    console.log(this.movie)
                    if(this.movie == null){
                        document.getElementById("msg").innerHTML="没有获取到影片资源，重新搜索试试？";
                    }else{
                        get_link_dict(this.movie['VodPlayUrl']);
                        console.log(this.play_link)
                        // this.down_link = get_link_dict(this.movie['VodDownUrl']);
                        document.title = this.movie['VodName'] +" "+ this.play_name+" 视频在线播放 - 膨胀电影";
                        this.search_load = false;
                        this.get_history();
                        this.add_history();
                        this.more_movie(this.movie['VodName']);
                    }
                })
                .catch(error => {
                    console.log(error);
                });
        },
        computed: {
            classObject: () => link => ({
                'sort-item-check': link === btoa(app.play)
            })
        }
    }).mount('#app')
    function toggleShow() {
        app.search_load = !app.search_load;
    }
</script>
{{ end }}